/* Removendo estilizações padrões */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Faz o body ocupar toda a tela */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho */
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

/* Main ocupa o espaço restante da página */
main{
    flex: 1;
}

/* Cartão */
.cartao{
    width: 260px;
    height: 200px;
}

/* Imagem do cartão */
.cartao-imagem{
    width: 100%;
}